@model DecorShop.Models.EF.ProductCategory


@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h4 class="fw-bold py-3 mb-4">
    <a class="text-muted fw-light" href="#"> Home /</a>
    <a class="text-muted fw-light" href="/admin/productcategory"> Quản lý danh mục sản phẩm /</a> Thêm mới
</h4>

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-xl">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Thêm mới danh mục sản phẩm</h5>
                        <small class="text-muted float-end">Default label</small>
                    </div>
                    @using (Html.BeginForm("Add", "productCategory", FormMethod.Post, new { }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="card-body"> 
                            <form>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Tên danh mục</label>
                                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @id = "basic-default-fullname", @placeholder = "Tên danh mục" })
                                    @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Alias</label>
                                    @Html.TextBoxFor(x => x.Alias, new { @class = "form-control", @id = "basic-default-fullname", @placeholder = "alias" })
                                    @Html.ValidationMessageFor(x => x.Alias, null, new { @class = "text-danger" })
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Seo Titles</label>

                                    @Html.TextAreaFor(x => x.SeoTitle, new { @class = "form-control" })
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Seo Descriptions</label>

                                    @Html.TextAreaFor(x => x.SeoDescription, new { @class = "form-control" })
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="basic-default-fullname">Seo keywords</label>

                                    @Html.TextAreaFor(x => x.SeoKeywords, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <a href="/admin/productcategory" class="btn btn-secondary">Quay lại</a>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</div>